# Ignore zip files
*.zip

# Ignore logs and temp files
*.log
*.tmp
*.bak

# Ignore local Terraform state
*.tfstate
*.tfstate.backup

# Ignore AWS CLI & kubectl local files
infra/scripts/aws/
infra/scripts/kubectl

# Local .terraform directories
**/.terraform/*

# Terraform state files
*.tfstate
*.tfstate.*
*.tfstate.backup

# Terraform plan files
tfplan
*.tfplan

# Crash log files
crash.log
crash.*.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform lock file (optional, some teams commit this)
# .terraform.lock.hcl
tfplan.txt  
.terraform.lock.hcl
terrascan.tar.gz    

# AWS credentials
.aws/
credentials

gitleaks.tar.gz
kustomize  

aws
node_modules